/* VARIABLES */
$primary-fonts: Helvetica, sans-serif;
$secondary-fonts: Georgia, serif;

/* GLOBAL */
* {
    background-color: #1e1e1e;
    color: #efefef;
    font-family: $primary-fonts;
}

/* HEADERS */


/* BODY */


/* DETAILS */

